<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta charset ="uft-8">
    <TITLE>レンタル状況</TITLE>
  </HEAD>
  <BODY>
    <p>こちらの商品は現在在庫がありません</P>
    <p>こちらの商品の返却期限日は2021年2月3日です</p>
    <button type="button" onclick="location.href='shop_2.html'">戻る</button>
  </BODY>
</HTML>

