<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta charset ="uft-8">
    <TITLE>レンタル状況</TITLE>
  </HEAD>
  <BODY>
    <p>こちらの商品は現在在庫が1点あります</P>
    <button type="button" onclick="location.href='shop_2.html'">戻る</button>
  </BODY>
</HTML>

