<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta charset ="uft-8">
    <TITLE>レンタル状況</TITLE>
  </HEAD>
  <BODY>
    <h2>こちらの商品は現在在庫がありません</h2>
    <h2>こちらの商品の返却期限日は2021年2月3日です</h2>
    <button type="button" onclick="location.href='shop_1.html'">戻る</button>
  </BODY>
</HTML>

