<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta charset ="uft-8">
    <TITLE>レンタル状況</TITLE>
  </HEAD>
  <BODY>
    <h2>こちらの商品は現在在庫が1点あります</h2>
    <button type="button" onclick="location.href='shop_1.html'">戻る</button>
  </BODY>
</HTML>

