<HTML>
<HEAD><TITLE>店舗</TITLE></HEAD>
<BODY>
  <h1>店舗取り扱い店舗一覧</h1>
  <a href="rental_status_1_1.html">C店</a><br>
  <a href="rental_status_0_1_1.html">F店</a><br>
  <a href="rental_status_0_1_2.html">V店</a><br>
  <a href="rental_status_1_1.html">AA店</a><br>
  <button type="button" onclick="location.href='items.html'">戻る</button>
</BODY>
</HTML>

