<HTML>
<HEAD><TITLE>店舗</TITLE></HEAD>
<BODY>
  <h1>店舗取り扱い店舗一覧</h1>
  <h2>
    <ul>
      <li>
        <a href="rental_status_1.html">A店</a><br>
      </li>
      <li>
        <a href="rental_status_0_0.html">B店</a><br>
      </li>
      <li>
        <a href="rental_status_0_1.html">C店</a><br>
      </li>
      <li>
        <a href="rental_status_1.html">E店</a><br>
      </li>
      <li>
        <a href="rental_status_1.html">O店</a><br>
      </li>
      <li>
        <a href="rental_status_1.html">T店</a><br>
      </li>
      <li>
        <a href="rental_status_1.html">Z店</a><br>
      </li>
      <li>
        <a href="rental_status_1.html">AE店</a><br>
      </li>
    </ul>
  </h2>
  <button type="button" onclick="location.href='items.html'">戻る</button>
</BODY>
</HTML>

