
body {
  background:
      repeating-radial-gradient(
        circle at -1000% 0%,
        rgba(116, 77, 48, 0.7),
        #573216 7.5%,
        rgba(116, 77, 48, 0.9) 10%
      ),
      repeating-radial-gradient(
        circle at -1000% 0%,
        #573216,
        #573216 0.1%,
        #744d30 0.4%,
        #744d30 0.5%
      );
}
.items {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
.shop_menu {
  background-color: white;
  width: 130px
}
.title {
  padding: 0px;
}
.item {
  position: relative;
  top: 10px;
  left: 50%
}
